<form action="?pagina=contribuidor&metodo=adicionar" method="POST">
    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <h1 class="mb-5">Criar contribuidor</h1>
            {% if mensagemErro != '' %}
            <div class="alert alert-danger mb-3" role="alert">
                {{mensagemErro}}
            </div>
            {% endif %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" 
                placeholder="Digite o nome do produto">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email"
                    placeholder="Digite o email">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Senha</label>
                <input type="password" class="form-control" id="senha" name="senha"
                    placeholder="Digite a senha">
            </div>

            <div class="mb-3"> 
                <select class="form-select" aria-label="Default select example" name="cargo" id="cargo">
                    <option selected>Escolha um cargo</option>
                    <option value="admin">Administrador</option>
                    <option value="func">Funcionário</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Criar</button>
        </div>
    </div>
</form>