<div class="row">
    <div class="col-md-12" align="center">
        <div class="error-template">
            <h1>
                Oops!</h1>
            <h2>
                404 Not Found</h2>
            <div class="error-details">
                <p>Não foi possível encontrar essa página</p>
            </div>
            <div class="error-actions">
                <a href="http://localhost/projeto/" class="btn btn-primary btn-lg"><span
                        class="glyphicon glyphicon-home"></span>
                    Voltar para Home</a>
            </div>
        </div>
    </div>
</div>