<header>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="material-icons text-white">
                    menu
                    </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="http://localhost/projeto/">Home</a>
                    </li>
                    {% if cargo == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="http://localhost/projeto/?pagina=contribuidor">Contribuidores</a>
                        </li>
                    {% endif %}
                </ul>
                <span class="navbar-text text-white">
                    {{nome}} - {{cargo}}
                </span>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="http://localhost/projeto/?pagina=login&metodo=sair" class="btn btn-nav">
                            <span class="material-icons text-white">
                                logout
                            </span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>